<h2><i class="fa-solid fa-file-arrow-up"></i> Importer / Coller votre CV</h2>

<div class="cv-actions">
  <label class="upload-btn">
    <input type="file" accept=".pdf" (change)="onFileSelected($event)" [disabled]="isProcessing"hidden />
    <i class="fa-solid fa-upload"></i> Importer un PDF
    <span *ngIf="isProcessing" class="fa-solid fa-hourglass-half "></span>
  </label>

  <div *ngIf="showCvInputTextarea">
    <textarea placeholder="Ou collez ici le contenu de votre CV..." [(ngModel)]="cvContent"></textarea>

    <button class="upload2-textarea" (click)="onSaveTextArea()" title="Add CV"><i class="fa-solid fa-upload"> </i>  Add CV</button>
  </div>

  <div>
    <div class="saved-cvs-list">
    <div *ngFor="let cvItem of cvItems">
       <cv-item [componentCV]="componentCV" [cvItem]="cvItem"></cv-item>
    </div>
  </div>
</div>
</div>
