<div>
      <button (click)="onSignIn()">Sign in</button>
      <button (click)="onSignOut()">Sign out</button>
      <div *ngIf="profile">
        <h3>Connecté : {{ profile.emailAddress }}</h3>
        <p>Messages total: {{ profile.messagesTotal }}</p>
      </div>
      <div >
        <button (click)="loadMessages()">Charger messages</button>
        <button (click)="loadMessagesToday()">Charger messages du jour</button>
        <button (click)="processMessages()">Load Messages du jour and Process</button>
        <div class="messages-list">
          <div
            *ngFor="let m of messages"
            class="message-item"
            role="button"
            tabindex="0"
            [style.backgroundColor]="m.getBackgroundColor()"
            (click)="openMessage(m)"
            (keydown.enter)="openMessage(m)"
            (keydown.space)="$event.preventDefault(); openMessage(m)"
          >
            <div class="message-content">
             <div>{{ m.from }}</div>
              {{ m.toString2() }}
            </div>

            <!-- Empêche la propagation vers le parent pour que seul le bouton déclenche checkMessage -->
            <button (click)="checkMessage(m.id); $event.stopPropagation()">
              Voir
            </button>
          </div>
        </div>       
      </div>
      
</div>
